<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpeechHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <SpeechHelper.Properties.Settings>
      <setting name="FontSizeNotes" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="PathToFileWithNotes" serializeAs="String">
        <value>C:\Program Files\TechnoGuide\notes.txt</value>
      </setting>
    </SpeechHelper.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="SpeechHelperDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QLSNGCQ\MSSQLSERV;initial catalog=SH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SHEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5UG6S3H;initial catalog=TG;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechnoGuideGEntities" connectionString="metadata=res://*/TechnoGuideModel.csdl|res://*/TechnoGuideModel.ssdl|res://*/TechnoGuideModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5UG6S3H\GIRFANOV;initial catalog=TG;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TechnoGuideEntities" connectionString="metadata=res://*/TGModel.csdl|res://*/TGModel.ssdl|res://*/TGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5UG6S3H\GIRFANOV;initial catalog=TG;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>